body {
  font-family: 'Poppins', sans-serif;
  background-color: #f9f9f9;
}

.hero-section {
  background: linear-gradient(135deg, #1e2729, #61a355);
}

.card {
  border-radius: 1rem;
  overflow: hidden;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.navbar-custom {
    background-color: #030a0d;
  }

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}

.card-img-top {
  height: 200px;
  object-fit: cover;
}

.badge {
  font-size: 0.85rem;
}

.navbar-custom {
    background-color: #5117c6;
  }